<div *ngIf="loginService.validateRoles(['ROLE_ADMIN', 'ROLE_USER'])">
  <p>Detalji korinsika</p>
  <form (ngSubmit)="(editForm.valid)" #editForm="ngForm">
    <div>
      <label for="">Korisnik id:</label>
      <input
        type="number"
        name="id"
        #id="ngModel"
        [(ngModel)]="korisnik.id"
        [ngClass]="{ invalid: id.invalid }"
        readonly
      />
    </div>
    <div>
      <label for="">Username:</label>
      <input
        type="text"
        name="username"
        #username="ngModel"
        [(ngModel)]="korisnik.username"
        [ngClass]="{ invalid: username.invalid }"
        readonly
      />
    </div>
    <div>
      <label for="">Password:</label>
      <input
        type="text"
        name="password"
        #password="ngModel"
        [(ngModel)]="korisnik.password"
        [ngClass]="{ invalid: password.invalid }"
        readonly
      />
    </div>
    <div>
      <label for="">Role:</label>
      <select name="roles" [(ngModel)]="korisnik.roles">
        <option *ngFor="let r of roles" [ngValue]="r.role">
          {{ r.role }}
        </option>
      </select>
    </div>
  </form>
</div>
