<div *ngIf="loginService.validateRoles(['ROLE_ADMIN'])">
  <p>Dodavanje novog korisnika</p>
  <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
    <div>
      <label for="">Korisnik id:</label>
      <input
        type="number"
        name="id"
        #id="ngModel"
        [(ngModel)]="noviKorisnik.id"
        [ngClass]="{ invalid: id.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Username:</label>
      <input
        type="text"
        name="username"
        #username="ngModel"
        [(ngModel)]="noviKorisnik.username"
        [ngClass]="{ invalid: username.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Password:</label>
      <input
        type="text"
        name="password"
        #password="ngModel"
        [(ngModel)]="noviKorisnik.password"
        [ngClass]="{ invalid: password.invalid }"
        required
      />
    </div>
    <div>
      <label for="">Role:</label>
      <select name="roles" [(ngModel)]="noviKorisnik.roles">
        <option *ngFor="let r of roles" [ngValue]="r.role">
          {{ r.role }}
        </option>
      </select>
    </div>
    <div>
      <input type="submit" value="Dodaj" />
    </div>
  </form>
</div>
