<form (ngSubmit)="login()">
  <div>
    <input type="text" name="username" [(ngModel)]="user.username" />
  </div>
  <div>
    <input type="password" name="password" [(ngModel)]="user.password" />
  </div>
  <div>
    <input type="submit" value="Login" />
  </div>
</form>
