<table>
    <tr>
        <th>ID</th>
        <th>Datum racuna</th>
        <th>Detalji</th>
        <th>Izmeni</th>
        <th>Obrisi</th>
        <th>Prikazi sve stavke</th>
    </tr>
    <tr *ngFor="let r of racuni"> 
        <td> {{r.id}} </td>
        <td> {{r.datumRacuna}}</td>
        <td> <button (click)="detalji(r.id)">Detalji</button> </td>
        <td> <button (click)="izmeni(r.id)">Izmeni</button></td>
        <td> <button (click)="ukloni(r.id)">Obrisi</button></td>
        <td> <button (click)="prikaziStavke(r.id)">Prikazi stavke</button></td>
        
    </tr>
        <tr *ngIf="this.prikaz" *ngFor="let s of stavkeRacuna">
            <td>{{s.id}}</td>
            <td>{{s.racunId}}</td>
            <td>{{s.artikalId}}</td>
            <td>{{s.cena}}</td>
            <td>{{s.kolicina}}</td>
        </tr>        
</table>
<button (click)="this.dodaj = true"> Dodaj </button>
<div *ngIf="this.dodaj">
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Datum racuna:</label>
            <input type="datetime" name="datumRacuna" #datumRacuna="ngModel" [(ngModel)]="noviRacun.datumRacuna" [ngClass]="{'invalid': datumRacuna.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>
</div>
