<div>
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div >
            <label for="">Id filma:</label>
            <input type="number" name="id" #id="ngModel" [(ngModel)]="film.id" readonly>
        </div>
        <div>
            <label for="">Naziv artikla:</label>
            <input *ngIf="this.izmena" type="text" name="naziv" #naziv="ngModel" [(ngModel)]="film.naziv" [ngClass]="{'invalid': naziv.invalid}" required>
            <input *ngIf="!this.izmena" type="text" name="naziv" #naziv="ngModel" [(ngModel)]="film.naziv" [ngClass]="{'invalid': naziv.invalid}" readonly>
        </div>

        <div>
            <label for="">Naziv rezisera:</label>
            <input *ngIf="this.izmena" type="text" name="reziser" #reziser="ngModel" [(ngModel)]="film.reziser" [ngClass]="{'invalid': reziser.invalid}" required>
            <input *ngIf="!this.izmena" type="text" name="reziser" #reziser="ngModel" [(ngModel)]="film.reziser" [ngClass]="{'invalid': reziser.invalid}" readonly>
        </div>
    
        <div>
            <label for="">Ocena filma:</label>
            <input *ngIf="this.izmena" type="number" name="ocena" #ocena="ngModel" [(ngModel)]="film.ocena" [ngClass]="{'invalid': ocena.invalid}" required>
            <input *ngIf="!this.izmena" type="number" name="ocena" #ocena="ngModel" [(ngModel)]="film.ocena" [ngClass]="{'invalid': ocena.invalid}" readonly>
        </div>
    
        <div>
            <input *ngIf="this.izmena" type="submit" value="Izmeni film">
            
        </div>

        <div *ngIf = "!this.izmena">
        <div *ngFor="let prikaz of this.ocene">
            <!-- <p>{{prikaz}}</p> -->
            <p>Ocena: {{prikaz.ocena}}<p>
            <p>Komentar: {{prikaz.komentar}}</p>

        </div>
    </div>
    
    </form>
    </div>
    <div>
    <button (click)="nazad()">Nazad</button>
    </div>