<table>
    <tr>
        <th>ID</th>
        <th>Naziv</th>
        <th>Cena</th>
        <th>Detalji</th>
        <th>Izmeni</th>
        <th>Brisanje</th>
    </tr>
    <tr *ngFor="let a of artikli"> 
        <td> {{a.id}} </td>
        <td> {{a.naziv}}</td>
        <td> {{a.cena}} </td>
        <td> <button (click)="detalji(a.id)">Detalji</button> </td>
        <td> <button (click)="izmeni(a.id)">Izmeni</button> </td>
        <td> <button (click)="ukloni(a.id)">Obrisi</button></td>

    </tr>
</table>
<button (click)="this.dodaj = true">Dodaj novi artikal</button>
<div *ngIf="this.dodaj">

    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Naziv artikla:</label>
            <input type="text" name="naziv" #naziv="ngModel" [(ngModel)]="noviArtikal.naziv" [ngClass]="{'invalid': naziv.invalid}" required>
        </div>

        <div>
            <label for="">Cena artikla:</label>
            <input type="number" name="cena" #cena="ngModel" [(ngModel)]="noviArtikal.cena" [ngClass]="{'invalid': cena.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>

</div>
