<button
  (click)="dodavanje()"
  *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
>
  Dodavanje novog
</button>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Roles</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let r of roles">
      <td>{{ r["id"] }}</td>
      <td>{{ r["title"] }}</td>
      <td>{{ r["role"] }}</td>
      <td>
        <button
          (click)="brisanje(r)"
          *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
        >
          Brisanje
        </button>
        <button
          (click)="izmena(r)"
          *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
        >
          Izmena
        </button>
        <button (click)="detalji(r)">Detalji</button>
      </td>
    </tr>
  </tbody>
</table>
