<table *ngIf="this.podaci != []">
    <tr>
        <th *ngFor="let kolona of this.kolone"> {{kolona}}</th>
        <th>Detalji</th>
        <th>Obrisi</th>
        <th>Izmeni</th>
    </tr>
    <tr *ngFor="let podatak of this.podaci">
        <td *ngFor="let kolona of this.kolone">
            {{podatak[kolona]}}
        </td>
        <td (click)="detalji(podatak)"> Detalji </td>
        <td (click)="obrisi(podatak)"> Obrisi</td>
        <td (click)="izmeni(podatak)">Izmeni</td>
        <!-- <td>{{podatak[i]|json}}</td> -->
    </tr>
</table>
