<div>
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div >
            <label for="">Id racuna:</label>
            <input type="number" name="id" #id="ngModel" [(ngModel)]="racun.id" readonly>
        </div>

        <div>
            <label for="">Datum racuna:</label>
            <input *ngIf="this.izmena" type="datetime" name="datumRacuna" #datumRacuna="ngModel" [(ngModel)]="racun.datumRacuna" [ngClass]="{'invalid': datumRacuna.invalid}" required>
            <input *ngIf="!this.izmena" type="datetime" name="datumRacuna" #datumRacuna="ngModel" [(ngModel)]="racun.datumRacuna" readonly>
        </div>

        <div>
            <input *ngIf="this.izmena" type="submit" value="Izmeni">
        </div>

    </form>
</div>
<button (click)="nazad()">Nazad</button>