<app-tabela [podaci]="this.podaci" (naObrisi)="this.naObrisi($event)" 
            (naIzmeni)="this.naIzmeni($event)" 
            (naDetalji)="this.naDetalji($event)"></app-tabela>

<button (click)="this.dodaj = true"> Dodaj </button>    

<div *ngIf="this.dodaj">
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Korisnicko ime:</label>
            <input type="text" name="korisnickoIme" #korisnickoIme="ngModel" [(ngModel)]="korisnik.korisnickoIme" [ngClass]="{'invalid': korisnickoIme.invalid}" required>
        </div>
        <div>
            <label for="">Email:</label>
            <input type="email" name="email" #email="ngModel" [(ngModel)]="korisnik.email" [ngClass]="{'invalid': email.invalid}" required>
        </div>
        <div>
            <label for="">Lozinka:</label>
            <input type="text" name="lozinka" #lozinka="ngModel" [(ngModel)]="korisnik.lozinka" [ngClass]="{'invalid': lozinka.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>
</div>