<div>
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div >
            <label for="">Id stavke:</label>
            <input type="number" name="id" #id="ngModel" [(ngModel)]="stavkaRacuna.id" readonly>
        </div>
        <div>
            <label for="">Racun id:</label>
            <input *ngIf="!this.izmena" type="number" name="racunId" #racunId="ngModel" [(ngModel)]="stavkaRacuna.racunId" [ngClass]="{'invalid': racunId.invalid}" readonly>
            <select *ngIf="this.izmena" name="racunId" [(ngModel)]="stavkaRacuna.racunId">
                <option *ngFor="let r of racuni" [ngValue]="r.id"> 
                    {{r.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Artikal id:</label>
            <input *ngIf="!this.izmena" type="number" name="artikalId" #artikalId="ngModel" [(ngModel)]="stavkaRacuna.artikalId" [ngClass]="{'invalid': artikalId.invalid}" readonly>
            <select *ngIf="this.izmena" name="artikalId" [(ngModel)]="stavkaRacuna.artikalId">
                <option *ngFor="let a of artikli" [ngValue]="a.id"> 
                    {{a.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Cena:</label>
            <input *ngIf="!this.izmena" type="number" name="cena" #cena="ngModel" [(ngModel)]="stavkaRacuna.cena" [ngClass]="{'invalid': cena.invalid}" readonly>
            <input *ngIf="this.izmena" type="number" name="cena" #cena="ngModel" [(ngModel)]="stavkaRacuna.cena" [ngClass]="{'invalid': cena.invalid}" required>
        </div>
        <div>
            <label for="">Kolicina:</label>
            <input *ngIf="!this.izmena" type="number" name="kolicina" #kolicina="ngModel" [(ngModel)]="stavkaRacuna.kolicina" [ngClass]="{'invalid': kolicina.invalid}" readonly>
            <input *ngIf="this.izmena" type="number" name="kolicina" #kolicina="ngModel" [(ngModel)]="stavkaRacuna.kolicina" [ngClass]="{'invalid': kolicina.invalid}" required>
        </div>

        <div>
            <input *ngIf="this.izmena" type="submit" value="Izmeni stavku">
        </div>

    </form>
</div>
<div>
    <button (click)="nazad()"> Nazad</button>
</div>
