<app-tabela [podaci]="this.podaci" (naObrisi)="this.naObrisi($event)" 
            (naIzmeni)="this.naIzmeni($event)" 
            (naDetalji)="this.naDetalji($event)"></app-tabela>
<button (click)="this.dodaj = true"> Dodaj </button> 

<div *ngIf="this.dodaj">
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Film id:</label>
            <select name="filmId" [(ngModel)]="novaOcena.filmId">
                <option *ngFor="let f of filmovi" [ngValue]="f.id"> 
                    {{f.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Korisnik id:</label>
            <select name="korisnikId" [(ngModel)]="novaOcena.korisnikId">
                <option *ngFor="let k of korisnici" [ngValue]="k.id"> 
                    {{k.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Ocena:</label>
            <input type="number" name="ocena" #ocena="ngModel" [(ngModel)]="novaOcena.ocena" [ngClass]="{'invalid': ocena.invalid}" required>
        </div>
        <div>
            <label for="">Komentar:</label>
            <input type="text" name="komentar" #komentar="ngModel" [(ngModel)]="novaOcena.komentar" [ngClass]="{'invalid': komentar.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>
</div>