<div>
<form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
    <div >
        <label for="">Id artikla:</label>
        <input type="number" name="id" #id="ngModel" [(ngModel)]="artikal.id" readonly>
    </div>
    <div>
        <label for="">Naziv artikla:</label>
        <input *ngIf="this.izmena" type="text" name="naziv" #naziv="ngModel" [(ngModel)]="artikal.naziv" [ngClass]="{'invalid': naziv.invalid}" required>
        <input *ngIf="!this.izmena" type="text" name="naziv" #naziv="ngModel" [(ngModel)]="artikal.naziv" [ngClass]="{'invalid': naziv.invalid}" readonly>
    </div>

    <div>
        <label for="">Cena artikla:</label>
        <input *ngIf="this.izmena" type="number" name="cena" #cena="ngModel" [(ngModel)]="artikal.cena" [ngClass]="{'invalid': cena.invalid}" required>
        <input *ngIf="!this.izmena" type="number" name="cena" #cena="ngModel" [(ngModel)]="artikal.cena" [ngClass]="{'invalid': cena.invalid}" readonly>
    </div>

    <div>
        <input *ngIf="this.izmena" type="submit" value="Izmeni artikal">
        
    </div>

</form>
</div>
<div>
<button (click)="nazad()">Nazad</button>
</div>