<table>
    <tr>
        <th>ID</th>
        <th>Racun id</th>
        <th>Artikal id</th>
        <th>Cena</th>
        <th>Kolicina</th>
        <th>Detalji</th>
        <th>Izmeni</th>
        <th>Obrisi</th>
    </tr>
    <tr *ngFor="let s of stavkeRacuna"> 
        <td> {{s.id}} </td>
        <td> {{s.racunId}}</td>
        <td> {{s.artikalId}} </td>
        <td> {{s.cena}} </td>
        <td> {{s.kolicina}}</td>
        <td> <button (click)="detalji(s.id)">Detalji</button></td>
        <td> <button (click)="izmeni(s.id)">Izmeni</button></td>
        <td> <button (click)="ukloni(s.id)">Obrisi</button></td>

    </tr>
</table>
<button (click)="this.dodaj = true"> Dodaj </button>

<div *ngIf="this.dodaj">
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Racun id:</label>
            <select name="racunId" [(ngModel)]="novaStavka.racunId">
                <option *ngFor="let r of racuni" [ngValue]="r.id"> 
                    {{r.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Artikal id:</label>
            <select name="artikalId" [(ngModel)]="novaStavka.artikalId">
                <option *ngFor="let a of artikli" [ngValue]="a.id"> 
                    {{a.id}}
                </option>
            </select>
        </div>
        <div>
            <label for="">Cena:</label>
            <input type="number" name="cena" #cena="ngModel" [(ngModel)]="novaStavka.cena" [ngClass]="{'invalid': cena.invalid}" required>
        </div>
        <div>
            <label for="">Kolicina:</label>
            <input type="number" name="kolicina" #kolicina="ngModel" [(ngModel)]="novaStavka.kolicina" [ngClass]="{'invalid': kolicina.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>
</div>
