<button
  (click)="dodavanje()"
  *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
>
  Dodavanje novog
</button>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Roles</th>
      <th>Akcije</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let u of users">
      <td>{{ u["id"] }}</td>
      <td>{{ u["username"] }}</td>
      <td>{{ u["roles"] }}</td>
      <td>
        <button
          (click)="brisanje(u)"
          *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
        >
          Brisanje
        </button>
        <button
          (click)="izmena(u)"
          *ngIf="loginService.validateRoles(['ROLE_ADMIN'])"
        >
          Izmena
        </button>
        <button (click)="detalji(u)">Detalji</button>
      </td>
    </tr>
  </tbody>
</table>
