<h2>{{ naslov }}</h2>
<div>
  <ul>
    <li (click)="prikazTabele(element)" *ngFor="let element of listaPodataka">
      <span *ngFor="let kljuc of prikazZaListu"> {{ element[kljuc] }}</span>
    </li>
  </ul>
</div>
<div *ngIf="vidljivost">
  <table>
    <tr *ngFor="let kljuc of kljucevi; let i = index">
      <td>{{ prevodKljuceva[i] | titlecase }}</td>
      <td>{{ element[kljuc] }}</td>
    </tr>
  </table>
  <button (click)="vidljivost = !vidljivost">Zatvori</button>
</div>
