<div>
  <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
    <div>
      <label for="">Id ocene:</label>
      <input
        type="number"
        name="id"
        #id="ngModel"
        [(ngModel)]="ocenaPrikaz.id"
        readonly
      />
    </div>
    <div>
      <label for="">Film id:</label>
      <input
        *ngIf="!this.izmena"
        type="number"
        name="filmId"
        #filmId="ngModel"
        [(ngModel)]="ocenaPrikaz.filmId"
        [ngClass]="{ invalid: filmId.invalid }"
        required
      />
      <select
        *ngIf="this.izmena"
        name="filmId"
        [(ngModel)]="ocenaPrikaz.filmId"
      >
        <option *ngFor="let f of filmovi" [ngValue]="f.id">
          {{ f.id }}
        </option>
      </select>
    </div>

    <div>
      <label for="">Korisnik id:</label>
      <input
        *ngIf="!this.izmena"
        type="number"
        name="korisnikId"
        #korisnikId="ngModel"
        [(ngModel)]="ocenaPrikaz.korisnikId"
        [ngClass]="{ invalid: korisnikId.invalid }"
        required
      />
      <select
        *ngIf="this.izmena"
        name="korisnikId"
        [(ngModel)]="ocenaPrikaz.korisnikId"
      >
        <option *ngFor="let k of korisnici" [ngValue]="k.id">
          {{ k.id }}
        </option>
      </select>
    </div>

    <div>
      <label for="">Ocena:</label>
      <input
        *ngIf="this.izmena"
        type="number"
        name="ocena"
        #ocena="ngModel"
        [(ngModel)]="ocenaPrikaz.ocena"
        [ngClass]="{ invalid: ocena.invalid }"
        required
      />
      <input
        *ngIf="!this.izmena"
        type="number"
        name="ocena"
        #ocena="ngModel"
        [(ngModel)]="ocenaPrikaz.ocena"
        [ngClass]="{ invalid: ocena.invalid }"
        readonly
      />
    </div>

    <div>
      <label for="">Komentar:</label>
      <input
        *ngIf="this.izmena"
        type="text"
        name="komentar"
        #komentar="ngModel"
        [(ngModel)]="ocenaPrikaz.komentar"
        [ngClass]="{ invalid: komentar.invalid }"
        required
      />
      <input
        *ngIf="!this.izmena"
        type="text"
        name="komentar"
        #komentar="ngModel"
        [(ngModel)]="ocenaPrikaz.komentar"
        [ngClass]="{ invalid: komentar.invalid }"
        readonly
      />
    </div>

    <div>
      <input *ngIf="this.izmena" type="submit" value="Izmeni ocenu" />
    </div>
  </form>
</div>
<div>
  <button (click)="nazad()">Nazad</button>
</div>
