<div>
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div >
            <label for="">Id korisnika:</label>
            <input type="number" name="id" #id="ngModel" [(ngModel)]="korisnik.id" readonly>
        </div>
        <div>
            <label for="">Korisnicko ime:</label>
            <input *ngIf="this.izmena" type="text" name="korisnickoIme" #korisnickoIme="ngModel" [(ngModel)]="korisnik.korisnickoIme" [ngClass]="{'invalid': korisnickoIme.invalid}" required>
            <input *ngIf="!this.izmena" type="text" name="korisnickoIme" #korisnickoIme="ngModel" [(ngModel)]="korisnik.korisnickoIme" [ngClass]="{'invalid': korisnickoIme.invalid}" readonly>
        </div>

        <div>
            <label for="">Email:</label>
            <input *ngIf="this.izmena" type="text" name="email" #email="ngModel" [(ngModel)]="korisnik.email" [ngClass]="{'invalid': email.invalid}" required>
            <input *ngIf="!this.izmena" type="text" name="email" #email="ngModel" [(ngModel)]="korisnik.email" [ngClass]="{'invalid': email.invalid}" readonly>
        </div>
    
        <div>
            <label for="">Lozinka:</label>
            <input *ngIf="this.izmena" type="text" name="lozinka" #lozinka="ngModel" [(ngModel)]="korisnik.lozinka" [ngClass]="{'invalid': lozinka.invalid}" required>
            <input *ngIf="!this.izmena" type="text" name="lozinka" #lozinka="ngModel" [(ngModel)]="korisnik.lozinka" [ngClass]="{'invalid': lozinka.invalid}" readonly>
        </div>
    
        <div>
            <input *ngIf="this.izmena" type="submit" value="Izmeni korisnika">
            
        </div>
    
    </form>
    </div>
    <div>
    <button (click)="nazad()">Nazad</button>
    </div>
