<app-tabela [podaci]="this.podaci" (naObrisi)="this.naObrisi($event)" 
            (naIzmeni)="this.naIzmeni($event)" 
            (naDetalji)="this.naDetalji($event)"></app-tabela>

<button (click)="this.dodaj = true"> Dodaj </button>    

<div *ngIf="this.dodaj">
    <form (ngSubmit)="editForm.valid && submit(editForm)" #editForm="ngForm">
        <div>
            <label for="">Naziv:</label>
            <input type="text" name="naziv" #naziv="ngModel" [(ngModel)]="film.naziv" [ngClass]="{'invalid': naziv.invalid}" required>
        </div>
        <div>
            <label for="">Ime rezisera:</label>
            <input type="text" name="reziser" #reziser="ngModel" [(ngModel)]="film.reziser" [ngClass]="{'invalid': reziser.invalid}" required>
        </div>
        <div>
            <label for="">Ocena:</label>
            <input type="number" name="ocena" #ocena="ngModel" [(ngModel)]="film.ocena" [ngClass]="{'invalid': ocena.invalid}" required>
        </div>

        <div>
            <input type="submit" value="Dodaj">
        </div>

    </form>
</div>